/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --theme-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --description-theme-color: #ff0070;
  --section-title-color: #ff0070;
  --description-title-color: #000028;
  --button-color: #ff0070;
  --button-active: #ff0070;
  --button-hover: #f1b2ce;
  --font-family: "IBM Plex mono", sans-serif;
}

.page {
  background-color: var(--theme-color);
  box-sizing: border-box;
  background-attachment: fixed;
  min-width: 375px;
  margin: 0 auto;
}

.decorated-zone::before {
  position: absolute;
  content: " ";
  justify-self: end;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}
.decorated-zone::after {
  position: absolute;
  content: " ";
  justify-self: start;
  align-self: end;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__title {
  line-height: 82%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  font-family: var(--font-family);
  font-weight: bold;
  margin-block-start: 65px;
  /*margin-bottom: 47px;*/
}

.header__description {
  box-sizing: border-box;
  background-color: var(--description-theme-color);
  /*height: 117px;
  /*height: max-content;*/
  align-self: center;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--description-title-color);
  justify-self: flex-end;
  margin-block-end: 74px;
}
.header__record {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 18px;
  text-align: right;
  padding-inline-end: 7px;
}
.header__record::after {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px var(--accent-color);
}

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  padding: 0px 13px 2px 13px;
  font-family: var(--font-family);
  font-size: 18px;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}
.header__theme-menu-button:focus {
  outline: 0;
  border-block-end: 1px solid var(--button-hover);
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-active);
}

/*.header__theme-menu-button_type_light {
}
.header__theme-menu-button_type_auto {
}
.header__theme-menu-button_type_dark {
}*/

/*
 content styles
*/

.content__title {
  color: var(--section-title-color);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
}

.content__description {
  background-color: var(--description-theme-color);
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 131%;
  color: var(--theme-color);
}
.content__text {
  color: var(--main-text-color);
  width: 100%;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 130%;
}
.content__link {
  text-decoration: none;
  text-shadow: 3px 3px 0 var(--description-theme-color);
}
.content__link:hover {
  border-block-end: 1px solid var(--button-hover);
}
.content__link:focus {
  outline: 0;
  border: 1px solid var(--button-hover);
}

.footer__decoration::before {
  position: absolute;
  content: " ";
  justify-self: end;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}
.footer__decoration::after {
  position: absolute;
  content: " ";
  justify-self: start;
  align-self: end;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}
.footer__title {
  display: flex;
  align-items: center;
  font-size: 116px;
  line-height: 82%;
  color: var(--title-color);
  text-shadow: 5px 5px 0 var(--accent-color);
  text-transform: lowercase;
  font-family: var(--font-family);
  font-weight: bold;
}
