/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --theme-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff0070;
  --main-text-color: #353430;
  --description-theme-color: #ff8dcb;
  --section-title-color: #353430;
  --description-title-color: #353430;
  --button-color: #353430;
  --button-active: #353430;
  --button-hover: rgb(50, 49, 45, 0.4);
  --button-focus: #353430;
  --link-focus: #353430;
  --font-family: "IBM Plex mono", monospace;
}

.theme_light .header__record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --theme-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff0070;
    --main-text-color: #353430;
    --description-theme-color: #ff8dcb;
    --section-title-color: #353430;
    --description-title-color: #353430;
    --button-color: #353430;
    --button-active: #353430;
    --button-hover: rgb(50, 49, 45, 0.4);
    --button-focus: #353430;
    --link-focus: #353430;
    --font-family: "IBM Plex mono", monospace;
  }
  .header__record {
    display: none;
  }
}
