/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --theme-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --description-theme-color: #ff0070;
  --section-title-color: #ff0070;
  --description-title-color: #000028;
  --button-color: #ff0070;
  --button-active: #ff0070;
  --button-hover: #ff8dcb;
  --button-focus: #ff0070;
  --link-focus: #353430;
  --font-family: "IBM Plex mono", monospace;
}
